<html>
  <head>
    <title>Page2</title>

    <meta property="og:site_name" content="Page2 site_name" />
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="Page2. title" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:description" content="Page2 description" />
    
    <meta name="description" content="Page2 description" />
    <meta name="keywords" content="Page2 description" />
    <meta name="author" content="Page2 description" />

  </head>
  <body>
    Page2 content.
    <input type='button' id='btn' value='click me' />
  </body>
</html>